@charset "UTF-8";


#main-section{
	width:100%;
}

.title1 {
	background-image: url("../images/img1.jpg");
	background-size: cover;
}

.title2 {
	background-image: url("../images/img2.jpg");
	background-size: cover;
}

.title3 {
	background: url("https://ifh.cc/g/1fmCfG.jpg") center no-repeat;
	
	background-size: cover;
}


.per {
	font-size: 50px;
	text-align: center;
	margin: 30px auto;
 	font-family: 'PyeongChangPeace-Bold' !important;
}



.slide-up {
	opacity: 0;
	/* 처음에 숨겨진 상태 */
	animation: slideUp 1s ease-in-out forwards;
	/* 애니메이션 적용 */
}

@keyframes slideUp {
	from {
		transform: translateY(100%);
	}

	to {
		opacity: 1;
		transform: translateY(0%);
	}
}

/* 스크롤을 내리면 .slide-up 클래스가 적용됨 */
/*
.scroll-content {
	height: 100vw;
}*/

/* 추가적인 스타일링 */
.scroll-content>h1 {
	font-size: 36px;
	text-align: center;
	margin-top: 200px;
}


.container {
	margin: 0 auto;
	width: 100%;
	height: 100vh;
	/* 부모크기 상관없이 화면크기 기준 100% */
	overflow: hidden;
	background-attachment: fixed;
	background-size: cover;
	/*이미지 꽉채우기*/
}

i{color: black;}

.container .content1,
.container .content2,
.container .content3 {
	
	position: relative;
	/* 자신을 기준으로 배치*/
	color: rgb(255, 255, 255);
	font-size: 20px;
	text-align: center;
	line-height: 1.3;
}

.container .content3 ,
.container .content1 ,.container .content2 
{
	top: 50%;
	left: 40%;
	transform: translateX(-40%) translateY(-50%);
}


.container .content1>h1,
.container .content2>h1,
.container .content3>h1 {
	font-size: 30px;
	margin-bottom: 20px;


}


.scroll {
	background: none;
	width: auto;
	position: fixed;
	bottom: 5%;
	right: 5%;
}


.scroll button {
	background: none;
	color: #b3c7dc;
	border: 2px solid rgb(233, 233, 233);
	width: 60px;
	height: 60px;
	border-radius: 30px;
	outline: none;
  	box-shadow: 1px 4px 0 rgb(0,0,0,0.5);
}

.scroll button:active{
	box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
  	position: relative;
  	top:2px;
	
}



.scroll button:hover {
	background: white;
	color: rgb(146, 175, 205);

	transition: 0.3s ease-in;
	cursor: grab;
}

.footer{
	background-color: black;
	color:white;
}

