@charset "UTF-8";


/*article.jsp*/


.articleTitle{
	margin:30px auto;
}

.articleTitle .title{
	font-size: 30px;
	font-weight: bold;
	margin:5px auto;
}



.msgBox{
	flex-grow: 2;
	height: 100px;
	background-color: aquamarine;
	
}



.article-container{
	
	margin:0 auto;
}


.fix{
	position:fixed;
	top:0;
	opacity: 0.8;
	
}



.article-cotainer-top{
	text-align: center;
	width: 70%;
	margin:30px auto;
	background-color: beige;
	display: flex;
	height: 900px;
	
}



.article-content{
	flex-grow: 5;
border: 1px solid gray;
}




.article-category{
	flex-grow: 2;
	background-color: aliceblue;
	
}


.articleMain{
	
	background-color: azure;
	width: 100%;
	height: 300px;
	border-top: 1px solid gray;
	
}

.articleContent{
	
	height: 70%;
	
}


.articleImg>img{
	margin:0 auto;

}

.articleGoal{
	
	margin:20px auto;
	
	
}



.article-cotainer-bottom{
	
	width: 70%;
	margin:20px auto;
	background-color: rgb(253, 238, 225);
	/*height: 500px;*/

	
}

/*
.comment {

	margin: 0 auto;

}
*/

.comment textarea {
  width: 100%;
  box-sizing: border-box;
  resize: none;
  
}

.comment #commentBtn {
	width: 40px;
	height: 30px;

}


.comments-item{
	padding: 30px 10px;
	border-bottom: 1px gray solid;
	
}




