@charset "UTF-8";

.section{
	
	
	background-image:url("../images/history_bg.jpeg");
	background-size:cover;
	padding-bottom: 30px;
	
}

.content{
	width:70%;
	margin: 0 auto;
}

.menu{
	height: 80px;
	width:100%;
	background-color:silver;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.fix{
	position:fixed;
	top:0;
	opacity: 0.8;
}

.menu li{
	border: 1px solid white;
	width: 160px;
	height: 40px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
}

.menu a{
	display: inline-block;
	width: 100%;
	height: 100%;
}

.title{
	width: 100%;
	text-align: center;
	margin-top: 80px;
	font-weight: bold;
	font-size: 1.5rem;
	color:white;
}


.items{
	max-width:1000px;
	display:flex;
	justify-content:space-around;
	flex-flow:wrap;
	margin:0 auto;
}

.item{
	width:300px;
	height:300px;
	border-radius:50%;
	text-align:center;
	margin: 50px 20px;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
}

.item:hover{
	 box-shadow: 0 0 50px 10px rgba(255, 255, 153, 0.8);
}

.item>a{
	display:inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.item img{
    width: 100%;
    height: auto;
    border-radius: 50%;
   	transform: scale(1.1);
}

.info{
	width: 200px;
	height: 200px;
}

.item span{
    opacity: 0.8;
    font-size: 1.5rem;
    color:black;
}

.item span.moonTitle{
	width: 200px;
	word-break: keep-all;
    position: absolute;
    top:55%;
    left:50%;
    transform: translate(-50%,-55%);
}

.item span.moonNum{
	position:absolute;
	top:30%;
	left:50%;
	transform: translateX(-50%);
}

.page{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.page>div{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid white;
    border-left: none;
}

.page>div:first-child{
    border-left: 1px solid white;
}

.page a:visited {
    color:white !important;
}

.page a{
	display:inline-block;
	width:100%;
	height:100%;
	color:white;
}

a.currPage{
	font-weight:bold;
	color:yellow;
}

.footer{
	background-color: black;
	color:white;
}

.comments-item{
	border:1px solid black;
}

