@charset "UTF-8";

#main-section {
	max-width: 70%;
	min-width: 420px;
	margin: 120px auto;
}


.btn-box {
	margin:30px auto;
	display: flex;
	justify-content: center;
}
.donor{
	padding-top:60px;
}
.donorinfo{
	width:70%;
	margin:0 auto;
}

.nextbtn,.btn-box button{
	margin: 20px 20px;
	text-align: center;
	padding: 15px;
	color: rgb(0, 0, 0);
	font-weight: bold;
	outline: none;
	font-size: 13px;
	letter-spacing: 1px;
	border: none;
	border-radius: 20px;
	background-color: #dce8e1;
	cursor: pointer;
	box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;

}

#lid {
	margin: 0 auto;
	width: 40px;
	min-width: 420px;
	 border-radius: 10px;
    text-align: center;
    background-color: #f2f2f2;
    height: 700px;
    box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
}


#lid input[type=text] {
	padding-left:15px;
	width: 70%;
	margin: 10px auto;
	border: none;
	outline: none;
	border-radius: 20px;
	background-color: #eee;
	box-shadow: inset -5px -5px 20px #ffffff, inset 10px 1px 10px
	rgb(158, 158, 158);
	color: black;
}

.cardform{
		margin: 0 auto;
	width: 40px;
	min-width: 420px;
	 border-radius: 10px;
    text-align: center;
   background-color: #f2f2f2;
   
    box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
}

.cardform input[type=text]{
	
	
}


#lid form, #lid form input,#lid form label, #lid form button{
	margin: 5px auto;
}


#lid button{
	margin:5px auto;
	height: 30px;
	line-height: 30px;
}

.money-btn{
	display: flex;
    flex-direction: column;
    margin:20px;
}

.money-btn button{
	margin:10px 0;
	margin: 10px 10px 10px 0;
	height : 40px;
	width:60%;
	background-color:#46649B;
	border-radius: 10px;
	color:white;
	box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
}

.money-btn button:nth-child(1){
	background: rgb(144, 193, 237);

}.money-btn button:nth-child(2){
		background: rgb(226, 231, 119);
	

}.money-btn button:nth-child(3){
	background: rgb(223, 175, 139);
	

}.money-btn button:nth-child(4){
	background: rgb(172, 205, 149);
	

}.money-btn button:nth-child(5){
	background: rgb(215, 185, 121);


}.money-btn button:nth-child(6){
	background: pink;

}

.donateBtn{
	width: 100px;
height: 30px;
border-radius: 15px;
margin: 5px;
background: #dce8e1;
	box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;

}

.money-btn button{
	background-color: #1E3269;
}

#lid .name-radio{
	display: flex;
	justify-content: center;
}