@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

html{
	background-image: url('../images/login-form.jpg');
	background-repeat: no-repeat;
    background-size: cover;
}

.header{
	background-color: white !important;
}

.section {
	width:100%;
}

.cardform{
	max-width:720px;
	margin:0 auto;
	
}

.user-form {
	background-color:#fff;
	border-radius: 10px;
	width: 30%;
	margin: 10% auto;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	min-height: 300px;
}

.user-form>h2{
	display:block;
	font-weight: bolder;
	font-size: 1.5rem;
	padding-bottom: 15px;
	height: 20px;
	margin: 5px 0;
}

input{
	border:none;
}

input[type="text" i],
input[type="password" i],
input[type="email" i]{
	border: 1px solid #1E3269;
	border-radius : 10px;
	width: 80%;
	height: 40px;
	margin: 10px 0;
	background-color: #f2f2f2;
}

#submit-btn{
	margin:10px 0;
	margin: 10px 10px 10px 0;
	height : 40px;
	background-color:#46649B;
	border-radius: 10px;
	color:white;
	width: 80%;
}

#submit-btn:hover,
input[type="submit" i]:hover,
input[type="button" i]:hover{
	background-color: #1E3269;
}

.bottom-nav{
	margin: 10px 0;
}

.bottom-nav>a{
	display: block;
}

.bottom-nav>a:hover{
	font-weight: bolder;
}

.error{
	display:none;
	color:red;
}

.footer{
	color:white;
}

#idChecked{
	display: none;
}

.input-id,.input-addr,.joinform-btns{
	width:80%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.input-id-txt,.address-input{
	margin-right: 10px !important;
}

#idCheckBtn{
	display:block;
	background-color:#46649B;
	padding: 5px;
	color:white;
	border-radius: 10px;
	height: 40px;
}


.addressBtn,.cancelBtn{
	background-color:#46649B;
	border-radius: 10px;
	color:white;
	display: block;
	height: 40px;
	line-height: 40px;
}


.joinform-btns>input[type="button" i]{
	width: 40%;
}
