
* {
	
	margin: 0;
	padding: 0;
	text-decoration: none;
    font-family: 'Open Sans', sans-serif;
	
}

.header>top-nav {
	display: inline-block;
}

#main-section{
    min-width: 400px;
	width:45vw;
	margin:0 auto;
    backdrop-filter:blur(10px);
}



form {
	min-width: 400px;
	width:45vw;
	margin: 0 auto;
    /* padding:20px; */
    background-color: rgba(255, 255, 255, 0);
    position: relative;
   
}

.div-form,ul {
	margin-top: 20px;
}

.div-form>div {
 /* width:70% ; */
  text-align: center;
}

/* .div-form:first-child{
position: relative;
}

#id{
    position: absolute;

} */


.idCheckBtn{
    position: absolute;
    top: 20px;
    right:60px;
    
    
}

input#sample6_postcode ,  input.addressBtn{
	width: 30%;
	
	
}





/* .div-form>div:not(:first-child) {
	border-top: none;
} */

input:focus{
	border-bottom: solid 1px #04C75A;	
}

div:has(input:focus),
div:has(select:focus) {
	border-color: #04C75A;	
}

input {
	width: 70%;
	margin: 5px;
	padding: 15px 15px;
    border: none;
    border-bottom:1px solid gray;
    background-color:#04c75800;
  

    
}

input[type="radio"] {
	display: none;
}



input[type="text"], 
input[type="email"] {
	/* border: none; */
	outline: none;
}

select {
	margin: 5px;
	padding: 10px 15px;
	width: 96%;
	border: none;
	outline: none;
	cursor: pointer;
}

.label-container {
	margin: 5px;
}

.label-wrapper, 
.label-container {
	display: flex;
	justify-content: space-between;
}


#submit-btn {
    display: flex;
    justify-content: center;
	width: 70%;
	margin: 100px auto auto auto;
	padding: 15px;
	color: white;
   
	border: none;
	border-radius: 10px;
	background-color: #dce8e1;
	cursor: pointer;
}

ul{
    width: 100%;

}
.error {
	display: none; 
	color: red;
	font-size: 0.8em;
    width: 70%;
    margin: 0 auto ;
    

}


.verified{
	color: rgb(0, 255, 0);
	font-size: 0.7em;
	
}