@charset "UTF-8";

body {
	background-image: url("../images/bg.jpg");
	background-size: cover;
	
}

.main_moon {
	position:relative;
	text-align: center;
	width: 520px;
	height: 520px;
	brgb: 1px solid black;
	border-radius: 260px;
	margin: 0 auto;
	justify-content: center;
	box-shadow: -20px 0px 50px 0px #feffc1;
	transition: 0.2s;
	color: white;
	z-index: 1001;
}

.main_moon:hover {
	box-shadow: -20px 0px 30px 15px #feffc1;
}

.fullmoon {
	margin-top: 150px;
	text-align: center;
	color: white;
}

.payBtn {
	border: 1px solid white;
	border-radius: 5px;
	color: white;
}

button {
	width: 120px;
	height: 40px;
}

