@charset "UTF-8";
@import url("firefly.css");
@import url("form");

body { 
	background: linear-gradient(to top, #21241f, black);
	background-size: cover;
	
}

.main_moon {
	position:relative;
	text-align: center;
	width: 520px;
	height: 520px;
	border-radius: 50%;
	margin: 10% auto;
	justify-content: center;
	box-shadow: -20px 0px 50px 0px #feffe3;
	transition: 0.2s;
	color: white;
	z-index: 1001;
	background-image: url("../images/fullMoon.jpg");
	background-size: cover;
	
}

.main_moon:hover {
	box-shadow : -20px 0px 30px 15px #feffe3;
}

.fullmoon {
	margin-top: 150px;
	text-align: center;
	color: white;
}

.payBtn {
	border: 1px solid white;
	border-radius: 5px;
	color: white;
}

button {
	width: 120px;
	height: 40px;
}

.moon-content{
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	color:black;
}
