@charset "UTF-8";


.mypage-content{
	position:absolute;
	top:50%;
	background-color:#F1F6F9;
	border-radius: 10px;
	display:flex;
	flex-direction : column;
	align-content: center;
	justify-content : center;
	padding:3% 0;
	color:black;
	max-height: 80%;
	overflow: scroll;
}

.mypage-content>h2{
	font-weight: bolder;
	font-size: 1.5rem;
	margin:2% 0;
}

.info-box{
	width: 100%;
	display: flex;
	flex-direction: column;
	
}

.info-box span{
	display:inline-block;
	width: 100%;
	font-size: 1.2rem;
	margin:2% 0;
}

.list-box{
	border-bottom:1px solid black;
}
