<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>project_pond</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>


	<!-- 서블릿 페이지 맵핑 -->

	<servlet>
		<servlet-name>UpdateUserFormAction</servlet-name>
		<servlet-class>controller.UpdateUserFormAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UpdateUserFormAction</servlet-name>
		<url-pattern>/UpdateUser</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>UpdateUserRequest</servlet-name>
		<servlet-class>controller.UpdateUserRequest</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UpdateUserRequest</servlet-name>
		<url-pattern>/UpdateRequest</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>DeleteUserFormAction</servlet-name>
		<servlet-class>controller.DeleteUserFormAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeleteUserFormAction</servlet-name>
		<url-pattern>/LeaveUser</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>LoginFormAction</servlet-name>
		<servlet-class>controller.LoginFormAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginFormAction</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogOut</servlet-name>
		<servlet-class>controller.LogOut</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LogOut</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>JoinFormAction</servlet-name>
		<servlet-class>controller.JoinFormAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>JoinFormAction</servlet-name>
		<url-pattern>/Join</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LeaveCommentFormAction</servlet-name>
		<servlet-class>controller.LeaveCommentFormAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LeaveCommentFormAction</servlet-name>
		<url-pattern>/LeaveComment</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DuplIdCheckAction</servlet-name>
		<servlet-class>controller.DuplIdCheckAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DuplIdCheckAction</servlet-name>
		<url-pattern>/duplIdCheck</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FindIdAction</servlet-name>
		<servlet-class>controller.FindIdAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FindIdAction</servlet-name>
		<url-pattern>/findId</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ArticleHomeAction</servlet-name>
		<servlet-class>controller.ArticleHomeAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ArticleHomeAction</servlet-name>
		<url-pattern>/articleHomeAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ShowArticleAction</servlet-name>
		<servlet-class>controller.ShowArticleAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ShowArticleAction</servlet-name>
		<url-pattern>/showArticle</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminMainAction</servlet-name>
		<servlet-class>controller.AdminMainAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminMainAction</servlet-name>
		<url-pattern>/adminMainAction</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>Donate</servlet-name>
		<servlet-class>controller.PayAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Donate</servlet-name>
		<url-pattern>/Donate</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MainAction</servlet-name>
		<servlet-class>controller.MainAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MainAction</servlet-name>
		<url-pattern>/mainAction</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>MoonAction</servlet-name>
		<servlet-class>controller.MoonAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MoonAction</servlet-name>
		<url-pattern>/moonAction</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CommentAction</servlet-name>
		<servlet-class>controller.CommentAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CommentAction</servlet-name>
		<url-pattern>/comments</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MyPageMenuAction</servlet-name>
		<servlet-class>controller.MyPageMenuAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MyPageMenuAction</servlet-name>
		<url-pattern>/myPageMenu</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ShowMyInfoAction</servlet-name>
		<servlet-class>controller.ShowMyInfoAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ShowMyInfoAction</servlet-name>
		<url-pattern>/showMyInfo</url-pattern>
	</servlet-mapping>
	
	


	<!-- JSP 페이지 맵핑 -->

	<servlet>
		<servlet-name>updateUserForm</servlet-name>
		<jsp-file>/pages/updateUserForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>updateUserForm</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>deleteUserForm</servlet-name>
		<jsp-file>/pages/deleteUserForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>deleteUserForm</servlet-name>
		<url-pattern>/leave</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>header</servlet-name>
		<jsp-file>/header.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>header</servlet-name>
		<url-pattern>/header</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>footer</servlet-name>
		<jsp-file>/footer.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>footer</servlet-name>
		<url-pattern>/footer</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>main</servlet-name>
		<jsp-file>/pages/main.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>main</servlet-name>
		<url-pattern>/main</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>myPage</servlet-name>
		<jsp-file>/pages/myPage.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>myPage</servlet-name>
		<url-pattern>/myPage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>about</servlet-name>
		<jsp-file>/pages/about.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>about</servlet-name>
		<url-pattern>/about</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>moon</servlet-name>
		<jsp-file>/pages/moon.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>moon</servlet-name>
		<url-pattern>/moon</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>articleHome</servlet-name>
		<jsp-file>/pages/article_home.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>articleHome</servlet-name>
		<url-pattern>/articleHome</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>article</servlet-name>
		<jsp-file>/pages/article.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>article</servlet-name>
		<url-pattern>/article</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>loginForm</servlet-name>
		<jsp-file>/pages/loginForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginForm</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>joinForm</servlet-name>
		<jsp-file>/pages/joinForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>joinForm</servlet-name>
		<url-pattern>/join</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>findUser</servlet-name>
		<jsp-file>/pages/findUserForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>findUser</servlet-name>
		<url-pattern>/findUser</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>address</servlet-name>
		<jsp-file>/pages/address.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>address</servlet-name>
		<url-pattern>/address</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>donate</servlet-name>
		<jsp-file>/pages/donateForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>donate</servlet-name>
		<url-pattern>/donate</url-pattern>
	</servlet-mapping>

	
		<servlet>
		<servlet-name>cardInput</servlet-name>
		<jsp-file>/pages/cardInfo.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>cardInput</servlet-name>
		<url-pattern>/cardInput</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>idCheckForm</servlet-name>
		<jsp-file>/pages/idCheckForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>idCheckForm</servlet-name>
		<url-pattern>/idCheckForm</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>myInfo</servlet-name>
		<jsp-file>/pages/myInfo.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>myInfo</servlet-name>
		<url-pattern>/myInfo</url-pattern>
	</servlet-mapping>

	
	<!-- jsp admin 페이지 매핑 -->

	<servlet>
		<servlet-name>admin_main</servlet-name>
		<jsp-file>/adminPages/admin_main.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>admin_main</servlet-name>
		<url-pattern>/adminMain</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>admin_manage</servlet-name>
		<jsp-file>/adminPages/admin_manage.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>admin_manage</servlet-name>
		<url-pattern>/adminManage</url-pattern>
	</servlet-mapping>
	
	<!-- profile 페이지 매핑 -->
	
	<servlet>
		<servlet-name>profilePage</servlet-name>
		<jsp-file>/pages/profilePage.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>profilePage</servlet-name>
		<url-pattern>/profilePage</url-pattern>
	</servlet-mapping>
	
	

</web-app>

