<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>project_pond</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<!-- 1. 서블릿 페이지 맵핑 -->

	<servlet>
		<servlet-name>LeaveCommentFromAction</servlet-name>
		<servlet-class>controller.LeaveCommentFromAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LeaveCommentFromAction</servlet-name>
		<url-pattern>/LeaveComment</url-pattern>
	</servlet-mapping>


	<!-- 2. JSP 페이지 맵핑 -->
	<servlet>
		<servlet-name>header</servlet-name>
		<jsp-file>/header.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>header</servlet-name>
		<url-pattern>/header</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>footer</servlet-name>
		<jsp-file>/footer.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>footer</servlet-name>
		<url-pattern>/footer</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>about</servlet-name>
		<jsp-file>/pages/about.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>about</servlet-name>
		<url-pattern>/about</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>moon</servlet-name>
		<jsp-file>/pages/moon.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>moon</servlet-name>
		<url-pattern>/moon</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>article</servlet-name>
		<jsp-file>/pages/article.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>article</servlet-name>
		<url-pattern>/article</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>loginForm</servlet-name>
		<jsp-file>/pages/loginForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginForm</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>


</web-app>

